* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.DOCTORS {
    margin: 0 40px;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
}

.DOCTOR1 {
    width: 300px;
    height: fit-content;
    background-color: hgturquoise;
}